*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.env.local
.env.*.local
.venv
venv/
ENV/
.idea/
.vscode/
*.swp
.DS_Store
